.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: 1150px;
    display: flex;
    margin: 0 auto;

    // justify-content: center;
    // align-items: center;
}

.content {
    flex: 1;
}
